.comment {
    font-size:          15px            !important;
    background-color:   var(--cure)     !important;
    padding:            5px;
    border-radius:      5px;
    border:             1px solid #0000002c;
    max-width:          250px           !important;
    z-index:            100000;
    position:           absolute;
    display:            none;
    transform:          translate(0);
    transition:         transform 0.3s ease;
}

.com {
    z-index: 1 !important;
}