.comment {
    font-size:          15px            !important;
    background-color:   var(--cure)     !important;
    padding:            5px;
    border-radius:      5px;
    border:             1px solid #0000002c;
    max-width:          250px           !important;
    z-index:            10000;
    position:           absolute;
    display:            none;
}