.tips {
    max-width:      fit-content;
    padding:        7px;
    font-size:      1em;
    color:          white !important;
    background-color: #000000bb !important;
    position:       absolute;
    display:        none;
    border-radius:  3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100000;
    transform:  translate(0);
    transition: transform 0.3s ease;
}