.tips {
    max-width:      fit-content;
    padding:        5px;
    font-size:      1em;
    color:          white !important;
    background-color: #000000bb !important;
    position:       absolute;
    display:        none;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10000;
}